@page "/createorders"
@inject HttpClient http
@using KoiTravelShop.Model
@inject IJSRuntime JSRuntime
<h3>CreateOrder</h3>

<form>
    <div class="form-group mb-4">
        <label>Order quantity</label>
        <input type="text" class="form-control" @bind="OrderModel.Quantity" />
    </div>
    <div class="form-group mb-4">
        <label>Total Price</label>
        <input type="text" class="form-control" @bind="OrderModel.TotalPrice" />
    </div>
    <button type="button" class="btn btn-primary" @onclick="HandleCreateOrder">Create Order</button>
</form>

@code {
    public KoiOrderModel OrderModel = new KoiOrderModel();
    public async Task HandleCreateOrder()
    {
        OrderModel.InvoiceId = Guid.NewGuid();
        OrderModel.Id = Guid.NewGuid();
        var res = await http.PostAsJsonAsync<KoiOrderModel>("https://localhost:7118/api/odata/KoiOrder", OrderModel);
        if (res.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Create order success");
        }
    }
}
